<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Password Generator</title>
</head>

<body>
    <div class="container">
        <h1>Password Generator</h1>
        <form method="POST" action="/generate">
            <label>Password Length:</label>
            <input type="number" name="length" value="12">
            <div class="checkbox-row">
                <input type="checkbox" name="symbols">
                <label>Include Symbols?</label>
            </div>
            <button type="submit">Generate Password</button>
        </form>
        {% if passwords %}
        <h2>Saved Passwords</h2>
        {% for p in passwords %}
        <div class="password-box">{{p.password}}</div>
        {% endfor %}
        {% endif %}
    </div>
</body>

</html>